<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <header>
            <p>Kovid Behl</p>
            <p>N01579154</p>
        </header>
        <div class="container">
            {{{body}}}
        </div>
        <footer>n01579154@humber.ca</footer>
    </body>
</html>